<a href="https://colab.research.google.com/github/vyvansze/dataframe-exercise/blob/main/technical2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
!git add exercises/technical2.ipynb

fatal: pathspec 'exercises/technical2.ipynb' did not match any files

In [11]:
import pandas as pd


data = {
    "OrderID": range(1001, 1021),
    "Product": [
        "Laptop", "Mouse", "Keyboard", "Monitor", "Laptop",
        "Headphones", "Mouse", "Chair", "Desk", "Laptop",
        "Printer", "Keyboard", "Monitor", "Mouse", "Laptop",
        "Headphones", "Desk", "Monitor", "Printer", "Chair"
    ],
    "Category": [
        "Electronics", "Accessories", "Accessories", "Electronics", "Electronics",
        "Accessories", "Accessories", "Furniture", "Furniture", "Electronics",
        "Electronics", "Accessories", "Electronics", "Accessories", "Electronics",
        "Accessories", "Furniture", "Electronics", "Electronics", "Furniture"
    ],
    "Quantity": [2, 5, 3, 4, 1, 6, 10, 2, 1, 3, 2, 4, 2, 7, 5, 3, 2, 4, 1, 6],
    "Price": [800, 20, 50, 200, 850, 40, 25, 150, 300, 900, 120, 55, 250, 20, 750, 35, 280, 220, 110, 180],
    "Customer": [
        "Alice", "Bob", "Charlie", "Diana", "Ethan",
        "Fiona", "George", "Hannah", "Ian", "Jane",
        "Kyle", "Laura", "Mike", "Nina", "Oscar",
        "Paul", "Queen", "Robert", "Sarah", "Tom"
    ],
    "Region": [
        "North", "South", "East", "West", "North",
        "South", "East", "West", "North", "South",
        "East", "West", "North", "South", "East",
        "West", "North", "South", "East", "West"
    ]
}
df = pd.DataFrame(data)


df["Total"] = df["Quantity"] * df["Price"]


print(df)

    OrderID     Product     Category  Quantity  Price Customer Region  Total
0      1001      Laptop  Electronics         2    800    Alice  North   1600
1      1002       Mouse  Accessories         5     20      Bob  South    100
2      1003    Keyboard  Accessories         3     50  Charlie   East    150
3      1004     Monitor  Electronics         4    200    Diana   West    800
4      1005      Laptop  Electronics         1    850    Ethan  North    850
5      1006  Headphones  Accessories         6     40    Fiona  South    240
6      1007       Mouse  Accessories        10     25   George   East    250
7      1008       Chair    Furniture         2    150   Hannah   West    300
8      1009        Desk    Furniture         1    300      Ian  North    300
9      1010      Laptop  Electronics         3    900     Jane  South   2700
10     1011     Printer  Electronics         2    120     Kyle   East    240
11     1012    Keyboard  Accessories         4     55    Laura   West    220
12     1013     Monitor  Electronics         2    250     Mike  North    500
13     1014       Mouse  Accessories         7     20     Nina  South    140
14     1015      Laptop  Electronics         5    750    Oscar   East   3750
15     1016  Headphones  Accessories         3     35     Paul   West    105
16     1017        Desk    Furniture         2    280    Queen  North    560
17     1018     Monitor  Electronics         4    220   Robert  South    880
18     1019     Printer  Electronics         1    110    Sarah   East    110
19     1020       Chair    Furniture         6    180      Tom   West   1080

In [12]:
print(df.head())
print("Shape:", df.shape)
print("Columns:", df.columns.tolist())

   OrderID   Product     Category  Quantity  Price Customer Region  Total
0     1001    Laptop  Electronics         2    800    Alice  North   1600
1     1002     Mouse  Accessories         5     20      Bob  South    100
2     1003  Keyboard  Accessories         3     50  Charlie   East    150
3     1004   Monitor  Electronics         4    200    Diana   West    800
4     1005    Laptop  Electronics         1    850    Ethan  North    850
Shape: (20, 8)
Columns: ['OrderID', 'Product', 'Category', 'Quantity', 'Price', 'Customer', 'Region', 'Total']

In [17]:
df['Discount Applied'] = df['Quantity'].apply(lambda x: 'Yes' if x > 5 else 'No')
df['Final Total'] = df['Total']
df.loc[df['Discount Applied'] == 'Yes', 'Final Total'] = df['Total'] - (df['Total'] * .1)
print(df[df['Discount Applied'] == 'Yes'][["OrderID", "Product", "Total", "Discount Applied", "Final Total"]])

    OrderID     Product  Total Discount Applied  Final Total
5      1006  Headphones    240              Yes          216
6      1007       Mouse    300              Yes          270
13     1014       Mouse    210              Yes          189
19     1020       Chair   1080              Yes          972

In [13]:
new_row = {
    "OrderID": 1021,
    "Product": "Tablet",
    "Category": "Electronics",
    "Quantity": 2,
    "Price": 450,
    "Customer": "Victor",
    "Region": "East"
}


df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
print(df)

    OrderID     Product     Category  Quantity  Price Customer Region   Total
0      1001      Laptop  Electronics         2    800    Alice  North  1600.0
1      1002       Mouse  Accessories         5     20      Bob  South   100.0
2      1003    Keyboard  Accessories         3     50  Charlie   East   150.0
3      1004     Monitor  Electronics         4    200    Diana   West   800.0
4      1005      Laptop  Electronics         1    850    Ethan  North   850.0
5      1006  Headphones  Accessories         6     40    Fiona  South   240.0
6      1007       Mouse  Accessories        10     25   George   East   250.0
7      1008       Chair    Furniture         2    150   Hannah   West   300.0
8      1009        Desk    Furniture         1    300      Ian  North   300.0
9      1010      Laptop  Electronics         3    900     Jane  South  2700.0
10     1011     Printer  Electronics         2    120     Kyle   East   240.0
11     1012    Keyboard  Accessories         4     55    Laura   West   220.0
12     1013     Monitor  Electronics         2    250     Mike  North   500.0
13     1014       Mouse  Accessories         7     20     Nina  South   140.0
14     1015      Laptop  Electronics         5    750    Oscar   East  3750.0
15     1016  Headphones  Accessories         3     35     Paul   West   105.0
16     1017        Desk    Furniture         2    280    Queen  North   560.0
17     1018     Monitor  Electronics         4    220   Robert  South   880.0
18     1019     Printer  Electronics         1    110    Sarah   East   110.0
19     1020       Chair    Furniture         6    180      Tom   West  1080.0
20     1021      Tablet  Electronics         2    450   Victor   East     NaN

In [14]:
df["Total"] = df["Quantity"] * df["Price"]
print(df)

    OrderID     Product     Category  Quantity  Price Customer Region  Total
0      1001      Laptop  Electronics         2    800    Alice  North   1600
1      1002       Mouse  Accessories         5     20      Bob  South    100
2      1003    Keyboard  Accessories         3     50  Charlie   East    150
3      1004     Monitor  Electronics         4    200    Diana   West    800
4      1005      Laptop  Electronics         1    850    Ethan  North    850
5      1006  Headphones  Accessories         6     40    Fiona  South    240
6      1007       Mouse  Accessories        10     25   George   East    250
7      1008       Chair    Furniture         2    150   Hannah   West    300
8      1009        Desk    Furniture         1    300      Ian  North    300
9      1010      Laptop  Electronics         3    900     Jane  South   2700
10     1011     Printer  Electronics         2    120     Kyle   East    240
11     1012    Keyboard  Accessories         4     55    Laura   West    220
12     1013     Monitor  Electronics         2    250     Mike  North    500
13     1014       Mouse  Accessories         7     20     Nina  South    140
14     1015      Laptop  Electronics         5    750    Oscar   East   3750
15     1016  Headphones  Accessories         3     35     Paul   West    105
16     1017        Desk    Furniture         2    280    Queen  North    560
17     1018     Monitor  Electronics         4    220   Robert  South    880
18     1019     Printer  Electronics         1    110    Sarah   East    110
19     1020       Chair    Furniture         6    180      Tom   West   1080
20     1021      Tablet  Electronics         2    450   Victor   East    900

In [15]:
df.loc[df["Product"] == "Mouse", "Price"] = 30
df["Total"] = df["Quantity"] * df["Price"]
print(df[df["Product"] == "Mouse"])

    OrderID Product     Category  Quantity  Price Customer Region  Total
1      1002   Mouse  Accessories         5     30      Bob  South    150
6      1007   Mouse  Accessories        10     30   George   East    300
13     1014   Mouse  Accessories         7     30     Nina  South    210

In [18]:
df = df.drop(columns=["Discount Applied"])
df = df.drop(columns=["Final Total"])
print(df.head())

   OrderID   Product     Category  Quantity  Price Customer Region  Total
0     1001    Laptop  Electronics         2    800    Alice  North   1600
1     1002     Mouse  Accessories         5     30      Bob  South    150
2     1003  Keyboard  Accessories         3     50  Charlie   East    150
3     1004   Monitor  Electronics         4    200    Diana   West    800
4     1005    Laptop  Electronics         1    850    Ethan  North    850

In [19]:
df = df.drop(df[df["OrderID"] == 1010].index, axis=0)
print(df[df["OrderID"] == 1010])
df = df.drop(index=0)
print(df.head())
print("New shape:", df.shape)

Empty DataFrame
Columns: [OrderID, Product, Category, Quantity, Price, Customer, Region, Total]
Index: []
   OrderID     Product     Category  Quantity  Price Customer Region  Total
1     1002       Mouse  Accessories         5     30      Bob  South    150
2     1003    Keyboard  Accessories         3     50  Charlie   East    150
3     1004     Monitor  Electronics         4    200    Diana   West    800
4     1005      Laptop  Electronics         1    850    Ethan  North    850
5     1006  Headphones  Accessories         6     40    Fiona  South    240
New shape: (19, 8)

In [30]:
result1 = df[(df["Category"] == "Electronics") & (df["Quantity"] >= 3)]
print("Electronics with Quantity >= 3")
print(result1)
result2 = df[df["Price"] > 500]
print("\nProducts with Price > 500")
print(result2)
count_north = df[df["Region"] == "North"].shape[0]
print("\nNorth orders:", count_north)

Electronics with Quantity >= 3
    OrderID  Product     Category  Quantity  Price Customer Region  Total
3      1004  Monitor  Electronics         4    200    Diana   West    800
14     1015   Laptop  Electronics         5    750    Oscar   East   3750
17     1018  Monitor  Electronics         4    220   Robert  South    880

In [34]:
west_sales = df[df["Region"] == "West"]
print("Sales in West region")
print(west_sales)
alice_sales = df[df["Customer"] == "Alice"]
print("\nSales by Alice")
print(alice_sales)
subset_sales = df[df["Product"].isin(["Laptop", "Printer"])]
print("\nSales of Laptop or Printer")
print(subset_sales)

Sales in West region
    OrderID     Product     Category  Quantity  Price Customer Region  Total
3      1004     Monitor  Electronics         4    200    Diana   West    800
7      1008       Chair    Furniture         2    150   Hannah   West    300
11     1012    Keyboard  Accessories         4     55    Laura   West    220
15     1016  Headphones  Accessories         3     35     Paul   West    105
19     1020       Chair    Furniture         6    180      Tom   West   1080

In [39]:
df["Price"] = df["Price"].astype(float)
df.loc[df["Category"] == "Furniture", "Price"] *= 1.1
df["Total"] = df["Quantity"] * df["Price"]
print("Updated Furniture rows")
print(df[df["Category"] == "Furniture"])

Updated Furniture rows
    OrderID Product   Category  Quantity    Price Customer Region     Total
7      1008   Chair  Furniture         2  219.615   Hannah   West   439.230
8      1009    Desk  Furniture         1  439.230      Ian  North   439.230
16     1017    Desk  Furniture         2  409.948    Queen  North   819.896
19     1020   Chair  Furniture         6  263.538      Tom   West  1581.228

In [42]:
multi_sort = df.sort_values(by=["Region", "Customer"])
print("\nSorted by Region then Customer")
print(multi_sort.head())

Sorted by Region then Customer
    OrderID   Product     Category  Quantity  Price Customer Region   Total
2      1003  Keyboard  Accessories         3   50.0  Charlie   East   150.0
6      1007     Mouse  Accessories        10   30.0   George   East   300.0
10     1011   Printer  Electronics         2  120.0     Kyle   East   240.0
14     1015    Laptop  Electronics         5  750.0    Oscar   East  3750.0
18     1019   Printer  Electronics         1  110.0    Sarah   East   110.0